<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="application/json" src ="./js/delete_customer.js"></script>
<script type="application/json" src="./js/add_customer.js"></script>

<table id="customer-table">
    <thead>
    <caption>Customers</caption>
    <tr>
        
        <th>ID</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Email</th>
    </tr>
    </thead>

    <tbody>
    {{#each data}}    
    <tr data-value={{this.id}}>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.phone_number}}</td>
        <td>{{this.address}}</td>
        <td>{{this.email}}</td>
        <td><button onClick="deleteCustomer({{this.id}})">Delete</button></td>
    </tr>
    {{/each}}
    </tbody>
</table>

<h1>Add Customer:</h1>
<form id="addCustomerForm" action="/customers.hbs" method="post">
    <div class="form-group">
        name: <input type="text" id="name" name="name"><br>
    </div>
    <div class="form-group">
        Phone Number: <input type="text" id="phone_number" name="phone_number"><br>
    </div>
    <div class="form-group">
        Address: <input type="text" id="address" name="address">
        <br>
    </div>
    <div class="form-group">
        Email: <input type="text" id="email" name="email"><br>
    </div>
    <div class="form-group">
        <input class="btn" type="submit" id="addCustomerButton" value="Add Customer">
    </div>
</form>


<h2>Updating A Customer</h2>
<form id="update-customer">

    <label for="input-name">name: </label>
    <select name="input-name" id="mySelect">
        <option value="test">Select a name</option>
        {{#each data}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-phone_number">phone_number: </label>
     <input type="text" id="input-phone_number-update" name="input-phone_number">
     <input type="submit">

</form>