[
             <a href="customers.hbs">Customers</a>
            | <a href="bookings.hbs">Bookings</a>
            | <a href="floors.hbs">Floors</a>
            | <a href="rooms.hbs">Rooms</a>
            | <a href="roomtypes.hbs">Room Types</a>
            | <a href="roomTypesPerfloor.hbs">Room Types Per Floor</a>
            ]

<table id="room-per-floor-table">
    <thead>
        <caption>Room Types Per Floor</caption>
        <tr>

            <th>ID</th>
            <th>Floor</th>
            <th>Room Type</th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.floor_id}}</td>
            <td>{{this.room_type_id}}</td>
            <td><button id="delete-room-to-floor" onClick="deleteRoomPerFloor({{this.id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script>
    function deleteRoomPerFloor(roomPerFloorID) {
        let data = {
            id: roomPerFloorID
        };

        var xhttp = new XMLHttpRequest();
        xhttp.open("DELETE", "/delete-room-per-floor-ajax", true);
        xhttp.setRequestHeader("Content-type", "application/json");

        xhttp.onreadystatechange = () => {
            if (xhttp.readyState == 4 && xhttp.status == 204) {

                deleteRow(roomPerFloorID);

            }
            else if (xhttp.readyState == 4 && xhttp.status != 204) {
                console.log("There was an error with the input.")
            }
        }     // Send the request and wait for the response
        xhttp.send(JSON.stringify(data));
    }

    function deleteRow(roomPerFloorID) {
        let table = document.getElementById("room-per-floor-table");
        for (let i = 0, row; row = table.rows[i]; i++) {
            if (table.rows[i].getAttribute("data-value") == roomPerFloorID) {
                table.deleteRow(i);
                break;
            }
        }
    };
    </script>

<h1>Add Relationship:</h1>
<form id="addRoomTypePerFloor" action="/roomTypesPerfloor.hbs" method="post">

    <select name="floor_id" id="floor_id">
        <option value="">Select a floor</option>
        {{#each floors}}
        <option value="{{this.id}}">{{this.id}}</option>
        {{/each}}
    </select>
    <select name="room_type_id" id="room_type_id">
        <option value="">Select a Room Type</option>
        {{#each room_types}}
        <option value="{{this.id}}">{{this.type_name}}</option>
        {{/each}}
    </select>
    <div class="form-group">
        <input class="btn" type="submit" id="addRoomTypePerFloor" value="Add">
    </div>
</form>