[
             <a href="customers.hbs">Customers</a>
            | <a href="bookings.hbs">Bookings</a>
            | <a href="floors.hbs">Floors</a>
            | <a href="rooms.hbs">Rooms</a>
            | <a href="roomtypes.hbs">Room Types</a>
            | <a href="roomTypesPerfloor.hbs">Room Types Per Floor</a>
            ]

<table id="roomTypes-table">
    <thead>
        <caption>Room Types</caption>
        <tr>

            <th>ID</th>
            <th>Type Name</th>
            <th>Number of Beds</th>
            <th>Number of Baths</th>
            <th>Is Haunted</th>
            <th>Price Per Night</th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.type_name}}</td>
            <td>{{this.num_beds}}</td>
            <td>{{this.num_baths}}</td>
            <td>{{this.is_haunted}}</td>
            <td>{{this.price_per_night}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h1>Add Room Type:</h1>
<form id="addRoomType" action="/roomTypes.hbs" method="post">
    <label> beds # </label> <input type="text" name="num_beds">
    <label> baths # </label> <input type="text" name="num_baths">
    <<label> is_haunted </label> <select name="type_name">
        <option value="0">&nbsp;</option>
        <option value="1" selected>yes</option>
        <option value="3" selected>no</option>
    </select>
    <label> price_per_night</label> <input type="text" name="price_per_night" />
    <div class="form-group">
        <input class="btn" type="submit" id="addRoomType" value="Add Room Type">
    </div>
</form>