[
             <a href="customers.hbs">Customers</a>
            | <a href="bookings.hbs">Bookings</a>
            | <a href="floors.hbs">Floors</a>
            | <a href="rooms.hbs">Rooms</a>
            | <a href="roomtypes.hbs">Room Types</a>
            | <a href="roomTypesPerfloor.hbs">Room Types Per Floor</a>
            ]

<table>
    <thead>
        <caption>Room Types Per Floor</caption>
        <tr>

            <th>ID</th>
            <th>Floor</th>
            <th>Room Type</th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.floor_id}}</td>
            <td>{{this.room_type_id}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h1>Add Floor:</h1>
<form id="addRoomTypePerFloor" action="/roomTypesPerfloor.hbs" method="post">

    <select name="floor_id" id="floor_id">
        <option value="">Select a floor</option>
        {{#each floors}}
        <option value="{{this.id}}">{{this.id}}</option>
        {{/each}}
    </select>
    <select name="room_type_id" id="room_type_id">
        <option value="">Select a Room Type</option>
        {{#each room_types}}
        <option value="{{this.id}}">{{this.type_name}}</option>
        {{/each}}
    </select>
    <div class="form-group">
        <input class="btn" type="submit" id="addRoomTypePerFloor" value="Add">
    </div>
</form>